@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  background-color: #f3f4f6;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  box-shadow: md;
}

.btn.btn-ghost {
  box-shadow: none;
}

.btn-primary {
  @apply bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2;
}

.input-primary {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500;
}